h2 {
    margin: 0;
    display: inline-block;
    }

.container{

    text-align: center;
        
        }

.maingraph{

     margin: auto;
}

.div { font-size: 25px; display: inline-block; border: solid; margin:30px; border-width: 1px; padding: 15px;

}

.div1 { font-size: 25px; display: inline-block; border: solid; margin:30px; border-width: 1px; padding: 15px; width: 97%;

}